{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='admin-2.css') }}">
{% endblock head_css %}

{% block body %}

{#    <h1>dfghhhhhjjj</h1>#}
{#    <div id="map"></div>#}
{#    <script>#}
{#      var map;#}
{#      function initMap() {#}
{#        map = new google.maps.Map(document.getElementById('map'), {#}
{#          center: {lat: 48.397, lng: 20.644},#}
{#          zoom: 5#}
{#        });#}
{#        var points = JSON.parse('{{ points|safe }}');#}
{#        alert(points[0].lat);#}
{#        var marker;#}
{##}
{#        for (var i = 0; i < points.length; i++) {#}
{#            marker = new google.maps.Marker({#}
{#            position: new google.maps.LatLng(points[i].lat, points[i].lng),#}
{#            map: map#}
{#        });#}
{#    }#}
{#      }#}
{#    </script>#}
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOsCUqdmUGHLgf5UASI58trFGoJ_0_zvM&callback=initMap"#}
{#    async defer></script>#}
{% endblock %}