{% extends "bootstrap/base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col col-md-10">
<h1>Unauthorized</h1>
<div>The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</div>
<a class="btn btn-primary" href="http://127.0.0.1:5000/login">Please logIn</a>
    </div>
    </div>
    </div>
{% endblock %}
